ul {
	list-style-type: none;
}
.btn-container {
	padding: 10px;
}

.btn {
	font-family:'Permanent Marker', cursive;
	border-radius: 7px;
	position: relative;
	display: block;
	width: 90%;
	padding: 10px 20px;
	color: #79C46D;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	border: 3px solid #868686;
	border-radius:5px;
	overflow: hidden;
	-webkit-transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
		transition: color 150ms ease-in-out 150ms, border-color 300ms ease-out, box-shadow 300ms ease-in-out;
	z-index: 1;
}
.btn.center {
	margin: 1px auto;
}
.btn.center.strike {
	text-decoration: line-through;
}

.btn:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47,255,0, 0.25);
	z-index: -1;
	-webkit-transform: scaleX(0);
		-ms-transform: scaleX(0);
			transform: scaleX(0);
	-webkit-transition: -webkit-transform 300ms ease-out 200ms;
		transition: transform 300ms ease-out 200ms;
}
.btn:hover {
	color: white;
	border-color: #b9b9b9;
	box-shadow: 0 0 16px rgba(255, 255, 255, 0.1);
}
.btn:hover:after {
	-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
			transform: scaleX(1);
	-webkit-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
			transform-origin: 50% 50%;
	-webkit-transition: -webkit-transform 300ms ease-out;
			transition: transform 300ms ease-out;
}
