html, body {
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

body {
  background-image: url("../images/grass.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
}

h1 {
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #ffffff;
	text-transform: none;
	font-size: 45px;
}

h2 {
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	color: #ffffff;
	text-transform: none;
	font-size: 25px;
}

#header {
	position: fixed;
	z-index: 90;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #39454b;
	height: 70px;
	box-shadow: 0 0 0.15em 0 rgba(0, 0, 0, 0.1);
	}

#olwibalogo {
  position: absolute;
  top: -20px;
  left: 0.5em;
  width: 11em;
  height: auto;
  z-index: 100;
}

#content {
  position: fixed;
	text-align: center;
	top: 15%;
  left: 15%;
	right: 15%;
  width: 70%;
  height: 80%;
	overflow-y: scroll;
	overflow-x: hidden;
  padding: 10px 10px 10px;
}

	#nav {
		position: absolute;
		right: 0.5em;
		top: 0;
		color: #fff;
		font-family: 'Permanent Marker', cursive;
        z-index: -1;
	}

	#nav ul {
		margin: 0;
	}

	#nav ul li {
		display: inline-block;
		font-size: 25px;
	}

	#nav ul li a {
		display: block;
		color: inherit;
		text-decoration: none;
		line-height: 70px;
		padding: 0 0.5em 0 0.5em;
		outline: 0;
	}
	#nav  .selected {
	color: #000;
	background-color: #fff;
	}

#shade {
    background: rgba(0, 0, 0, 0.7);
	padding: 40px 10px 10px 10px;
	border-radius:10px;
	line-height:2.5em;
}
